<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposeMasterDispatchCreate</strong>
	<span id="TestLCHComposeMasterDispatchCreate">0</span>
	<span id="TestLCHComposeMasterDispatchCreateData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterDispatchClick</strong>
	<span id="TestLCHComposeMasterDispatchClick">0</span>
	<span id="TestLCHComposeMasterDispatchClickData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterDispatchArrow</strong>
	<span id="TestLCHComposeMasterDispatchArrow">0</span>
	<span id="TestLCHComposeMasterDispatchArrowData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterDispatchFilter</strong>
	<span id="TestLCHComposeMasterDispatchFilter">0</span>
	<span id="TestLCHComposeMasterDispatchFilterData">undefined</span>
</p>
