:global(.LCHComposeMaster .OLSKMasterListBody .OLSKResultsListItemSelected .LCHComposeMasterListItem) {
	background: #e6e6e6;
}

@media screen and (min-width: 760px) {

:global(.LCHComposeMaster.OLSKMasterListFocused .OLSKMasterListBody  .OLSKResultsListItemSelected .LCHComposeMasterListItem) {
	background: #1a81ff;
	color: white;
}

}
