.LCHCompose {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	--OLSKCommonFontSize: 9pt;
	font-size: var(--OLSKCommonFontSize);
}

:global(.LCHComposeLauncher .LCHLauncher) {
	background: #ccc !important;
}

:global(.LCHComposeLauncher .LCHLauncherZoneInput) {
	background: #999 !important;
	border-color: #aaa !important;
}

@media screen and (max-width: 760px) {

.LCHComposeTools :last-child {
	display: none;
}

}

.LCHComposeCloudToolbar {
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.LCHCompose :global(.OLSKAppToolbar) {
	/* browser quirks */
	z-index: 999;
}

}
