.Container {
	--LCHBorderStyle: 1px solid #ddd;
	
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;
}

#LCHComposeStorageWidget {
	border-top: var(--LCHBorderStyle)
}

.LCHComposeDebug {
	display: none;

	font-family: sans-serif;
}

.LCHComposeDebug button {
	padding: 10px;
	border: 1px solid #bbb;

	margin: 10px;
}

.LCHComposeDebug.LCHComposeDebugError {
	display: unset;

	position: absolute;
	bottom: 100px;
	right: 0;
}
.StorageHidden{
	display: none;
}
