.LCHCompose {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;

	background: var(--LCHCommonBackground);
	color: var(--LCHCommonForeground);
}

.LCHCompose :global(.OLSKToolbar) {
	--OLSKToolbarBackground: var(--LCHCommonBackground);
}

:global(.LCHComposeLauncher .LCHLauncher) {
	background: #ccc !important;
}

:global(.LCHComposeLauncher .LCHLauncherZoneInput) {
	background: #999 !important;
	border-color: #aaa !important;
}

@media screen and (max-width: 760px) {

.LCHComposeTools :last-child {
	display: none;
}

}

.LCHComposeStorageToolbar {
	background: var(--LCHCommonBackground);

	/* AppContainerFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.LCHCompose :global(.OLSKAppToolbar) {
	/* browser quirks */
	z-index: 999;
}

}
