#remotestorage-widget {
	bottom: 0;
	right: 0;
}

.LCHComposeDebug {
	display: none;

	font-family: sans-serif;
}

.LCHComposeDebug button {
	padding: 10px;
	border: 1px solid #bbb;

	margin: 10px;
}

.remotestorage-widget-error-state + .LCHComposeDebug {
	display: unset;

	position: absolute;
	bottom: 100px;
	right: 0;
}
