<%
locals.OLSKPageTitle = OLSKLocalized('RCSLaunchletTitle');
locals.OLSKPageDescription = OLSKLocalized('RCSLaunchletDescription');
locals.OLSKPageAssets = [
	'/shared-assets/external/normalize.css/normalize.css',
	'/shared-assets/external/d3/dist/d3.min.js',
	'/shared-assets/external/codemirror/lib/codemirror.js',
	'/shared-assets/external/codemirror/lib/codemirror.css',
	'/shared-assets/external/codemirror/mode/javascript/javascript.js',
	'ui-style.css',
	'ui-behaviour.js',
	'ui-logic.js',
	'sample-d3.js',
	'sample.js',
];
%>

<%- include('../_shared/layout-header.ejs') %>

<div id="RCSLaunchlet">
	<p><%= OLSKLocalized('RCSLaunchletTitle') %></p>

	<p>
		<textarea id="RCSLaunchletComposedSample"></textarea>
		<script type="text/javascript">
			d3.select('#RCSLaunchletComposedSample').property('value', RCSLauchletSample.composedSample.toString());
		</script>
	</p>

	<p>
		<textarea id="RCSLaunchletBinary"></textarea>
		<script type="text/javascript">
			d3.select('#RCSLaunchletBinary').property('value', `javascript:(${encodeURIComponent(d3.select('#RCSLaunchletComposedSample').property('value'))})()`);
		</script>
	</p>

	<p>
		<a href="javascript:RCSLauchletSample.composedSample()">Try it</a>
	</p>
</div>

<script type="text/javascript">
	RCSLaunchletBehaviour.lifecyclePageWillLoad();
</script>

<%- include('../_shared/layout-footer.ejs') %>
