body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

#LCHComposeList .LCHComposeListItemFormInputID {
	display: none;
}

.LCHComposeListIdentifiersVisible .LCHComposeListItemFormInputID {
	display: inline-block !important;
}

.LCHComposeListItem {
	padding: 10px;
	width: 400px;

	margin: 5px 0;

	background: #f3f3f3;

	/* LCHComposeListItemFlexboxParent */
	display: flex;
	flex-direction: column;
}

.LCHComposeListItemToolbar {
	padding-bottom: 10px;

	/* LCHComposeListItemToolbarFlexboxParent */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.LCHComposeListItemToolbar hr {
	height: 1px;
	border: none;

	background: #e6e6e6;

	/* LCHComposeListItemToolbarFlexboxParent */
	flex-grow: 1;
}

.LCHComposeListItemToolbar .LCHComposeListItemToolbarRevealButton {
	display: none;
}

.LCHComposeListItemForm {
	/* LCHComposeListItemFormlexboxParent */
	display: flex;
	flex-direction: column;
}

.LCHComposeListItemForm .LCHComposeListItemFormInput {
	margin: 5px 0;
}

.LCHComposeListItemForm .CodeMirror {
	margin: 10px 0;

	/* CodeMirrorAdjustHeightToContent */
	height: auto;
}

.LCHComposeListItemForm .CodeMirror-scroll {
	/* CodeMirrorAdjustHeightToContent */
	max-height: 350px;
}

.LCHComposeListItemForm .CodeMirror-empty {
	color: #999999;
}

.LCHComposeListItemForm hr {
	width: 100%;
	height: 1px;
	border: none;

	background: #e6e6e6;
}

.LCHComposeListItemCollapsed .LCHComposeListItemToolbarCollapseButton, .LCHComposeListItemCollapsed .LCHComposeListItemForm {
	display: none;
}

.LCHComposeListItemCollapsed .LCHComposeListItemToolbarRevealButton {
	display: inline-block;
}

.LCHComposeListItemCollapsed .LCHComposeListItemToolbar {
	padding-bottom: 0;
}
