# NODE
node_modules
package-lock.json

# OLDSKOOL
os-cache
os-workspace-testing

# BUILD
os-app/_shared/_external
os-app/**/_compiled

# LOCAL
.env
.env.staging
.env.test

# COMPOSE
os-app/open-pendext/_external
os-app/open-pendext/sample-d3.js
