# NODE
node_modules
package-lock.json

# OLDSKOOL
os-cache
os-workspace-testing

# BUILD
os-app/_shared/_external

# LOCAL
.env
.env.staging
.env.test

# COMPOSE
os-public/open-compose/sample-d3.js
os-app/open-compose/libraries
