:root {
  --__LaunchletWidth: 400px;
  --__LaunchletSharedPadding: 10px;
}

#__Launchlet {
	width: var(--__LaunchletWidth);

	position: fixed;
	/*top: calc(var(--__LaunchletSharedPadding) * 2);*/
	top: 0;
	left: 50%;
	margin: 0 0 0 calc(var(--__LaunchletWidth) / -2);
	z-index: 999;

	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
}

#__LaunchletBezel {
	padding: var(--__LaunchletSharedPadding);
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0 0 10px 0px #e6e6e6;

	background: #e6e6e6;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: bold;

	/* __LaunchletBezelFlexboxParent */
	display: flex;
	flex-direction: column;
}

#__LaunchletInput {
	padding: 4px;
	border: 1px solid #cccccc;
	border-radius: 5px;

	background: #f3f3f3;
	color: #3f3f3f;

	/* browser defaults */
	outline: none;

	/* __LaunchletBezelFlexboxChild */
	/*flex-grow: 1;*/
}

#__LaunchletList {
	margin-top: var(--__LaunchletSharedPadding);
}

.__LaunchletListItem {
	padding: 5px;
}

.__LaunchletListItemSelected {
	background: #cccccc;
}

.__LaunchletHidden {
	display: none;
}
