<%
locals.OLSKPageAssets = [
	'__compiled/launchlet.css',
	'__compiled/launchlet.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<h1>Package</h1>

<script type="text/javascript">
LCHPackageBehaviour.lifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
