<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHLaunchxrPromptDispatchSelect</strong>
	<span id="TestLCHLaunchxrPromptDispatchSelect">0</span>
	<span id="TestLCHLaunchxrPromptDispatchSelectData">undefined</span>
</p>

<p>
	<strong>LCHLaunchxrPromptDispatchEscape</strong>
	<span id="TestLCHLaunchxrPromptDispatchEscape">0</span>
</p>
