<%
locals.OLSKPageAssets = [
	'__compiled/ui-behaviour.js',
	'__compiled/ui-style.css',
	'../dev-package/__compiled/launchlet.js',
	'ui-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<h1>Output</h1>

<p>
	<textarea id="TestRecipeOutput"></textarea>
</p>

<hr>

<p>
	<button class="TestLauncherInvoke" onclick="LCHLauncherBehaviour.InterfaceButtonDidClick()">TestLauncherInvoke</button>
</p>

<div id="LCHLauncherTarget"></div>

<script type="text/javascript">
LCHLauncherBehaviour.LifecyclePageWillLoad();
</script>
