<%
locals.OLSKPageTitle = OLSKLocalized('LCHComposeTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHComposeDescription');
locals.OLSKPageAssets = [
	'__compiled/ui-behaviour.js',
	'__compiled/ui-style.css',
	'../dev-package/__compiled/launchlet.js',
	'ui-behaviour.js',
];

if (LCHLauncherQuery.loadRecipes) {
	locals.OLSKPageAssets.push(...LCHLauncherQuery.loadRecipes.split(',').map(function (e) {
		return `recipes/${ e }/ui-data.js`;
	}));
}

locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<h1>Output</h1>
<p><textarea></textarea></p>
<p><input id="LCHLauncherTestInputSingleLine" autofocus /></p>
<p><span></span></p>
<p><a href="#">alfa</a></p>

<div id="LCHLauncherTarget"></div>

<script type="text/javascript">
LCHLauncherBehaviour.lifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
