<%
locals.OLSKPageTitle = OLSKLocalized('LCHComposeTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHComposeDescription');
locals.OLSKPageAssets = [
	'_compiled/ui-behaviour.js',
	'_compiled/ui-style.css',
	'ui-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<h1>Output</h1>
<textarea></textarea>

<div id="LCHLauncherTarget"></div>

<script type="text/javascript">
LCHLauncherBehaviour.lifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
