:root {
	--LCHVitrineBackground: hsl(0, 0%, 97%);
	--LCHVitrineForeground: hsl(0, 0%, 0%);
}

body {
	padding: 10px;
	max-width: 400px;

	margin: auto;

	font-family: 'Lucida Grande', sans-serif;
	font-size: 11pt;
	background: var(--LCHVitrineBackground);
	color: var(--LCHVitrineForeground);
}

h1, h2,  h3 {
	font-family: 'Helvetica Neue';
}

hr {
	height: 1px;
	border: none;

	background: black;
}

.ROCORootLink {
	width: 200px;
	display: block;
	margin: auto;
}
