:root {
	--OLSKCommonBackground: var(--LCHCommonBackground);
	--OLSKCommonForeground: var(--LCHCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--LCHCommonBackground);
	color: var(--LCHCommonForeground);
}

.LCHVitrineBrueghel {
	max-width: 100%;
	margin: 10px 0;
}
