:root {
	--OLSKCommonBackground: var(--LCHCommonBackground);
	--OLSKCommonForeground: var(--LCHCommonForeground);
}

body {
	background: var(--LCHCommonBackground);
	color: var(--LCHCommonForeground);
}

.LCHVitrineVideo2 {
	--OLSKCommonVideoWide: 1440;
	--OLSKCommonVideoHigh: 800;
}

.LCHVitrineVideo3 {
	--OLSKCommonVideoWide: 1440;
	--OLSKCommonVideoHigh: 800;
}

.LCHVitrineDemos {
	display: none;
}

.LCHVitrineBrueghel {
	max-width: 100%;
	margin: 10px 0;
}
