<%
locals.OLSKPageTitle = OLSKLocalized('LCHVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/common/ui-style.css',
	'/dev-package/__compiled/launchlet.css',
	'/dev-package/__compiled/launchlet.js',
	'ui-style.css',
	'__compiled/ui-behaviour.js',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<%- include('../_shared/RCSLanguageSwitcher/main.ejs') %>

<hr>

<%- OLSKStringReplaceTokens(LCHVitrineContent, {
	LCHVitrineDemoButtonCommitToken: `<button class="LCHVitrineDemoButtonCommit" onclick="LCHVitrineBehaviour.InterfaceDemoButtonCommitDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonCommitText') }</button>`,
	LCHVitrineDemoButtonPreviewToken: `<button class="LCHVitrineDemoButtonPreview" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPreviewDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPreviewText') }</button>`,
	LCHVitrineDemoButtonPipeToken: `<button class="LCHVitrineDemoButtonPipe" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPipeDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPipeText') }</button>`,
	LCHVitrineRosanoLink: `<hr /><a class="ROCORootLink" href="https://rosano.ca" title="Rosano logo: Visit rosano.ca"><img role="img" src="https://rosano.ca/logo.standard.svg"></a>`
}) %>

<%- include('../_shared/common/layout-footer.ejs') %>
