<%
locals.OLSKPageTitle = OLSKLocalized('LCHVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/dev-package/__compiled/launchlet.css',
	'/dev-package/__compiled/launchlet.js',
	'ui-style.css',
	'__compiled/ui-behaviour.js',
];
locals.OLSKPageLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<%- include('../_shared/RCSLanguageSwitcher/main.ejs') %>

<hr>

<%- OLSKStringReplaceTokens(LCHVitrineContent, {
	LCHVitrineDemoButtonCommitToken: `<button class="LCHVitrineDemoButtonCommit" onclick="LCHVitrineBehaviour.InterfaceDemoButtonCommitDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonText') }</button>`
}) %>

<%- include('../_shared/common/layout-footer.ejs') %>
