<%
locals.OLSKPageTitle = OLSKLocalized('LCHVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/_external/normalize.css/normalize.css',
];
%>

<%- include('../_shared/common/layout-header.ejs') %>
<h1><%= OLSKLocalized('LCHVitrineTitle') %></h1>
<%- include('../_shared/common/layout-footer.ejs') %>
