<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/lib/codemirror.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/lib/codemirror.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/edit/continuelist.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/mode/overlay.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/search.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/searchcursor.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/jump-to-line.js"></script>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/addon/dialog/dialog.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/dialog/dialog.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/keymap/sublime.js"></script>

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<p>
	<strong>LCHComposeDetailItem</strong>
	<span id="TestLCHComposeDetailItem">undefined</span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposeDetailDispatchBack</strong>
	<span id="TestLCHComposeDetailDispatchBack">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchClone</strong>
	<span id="TestLCHComposeDetailDispatchClone">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchDiscard</strong>
	<span id="TestLCHComposeDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchUpdate</strong>
	<span id="TestLCHComposeDetailDispatchUpdate">0</span>
</p>

</body>
</html>
