<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',
	
	'/_shared/__external/codemirror/addon/edit/continuelist.js',
	
	'/_shared/__external/codemirror/addon/mode/overlay.js',
	
	'/_shared/__external/codemirror/addon/search/search.js',
	'/_shared/__external/codemirror/addon/search/searchcursor.js',
	'/_shared/__external/codemirror/addon/search/jump-to-line.js',
	'/_shared/__external/codemirror/addon/dialog/dialog.css',
	'/_shared/__external/codemirror/addon/dialog/dialog.js',
	
	'/_shared/__external/codemirror/keymap/sublime.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<p>
	<strong>LCHComposeDetailItem</strong>
	<span id="TestLCHComposeDetailItem">undefined</span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposeDetailDispatchBack</strong>
	<span id="TestLCHComposeDetailDispatchBack">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchClone</strong>
	<span id="TestLCHComposeDetailDispatchClone">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchDiscard</strong>
	<span id="TestLCHComposeDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>LCHComposeDetailDispatchUpdate</strong>
	<span id="TestLCHComposeDetailDispatchUpdate">0</span>
</p>
