.LCHComposeDetail {
	/* LCHComposeDetailFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 760px) {

.LCHComposeDetail {
	min-height: 100%;
}

}

.LCHComposeDetailToolbar {
	/* LCHComposeDetailFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.LCHComposeDetailToolbar {
	/* browser quirks */
	z-index: 999;
}

}

.LCHComposeDetailFlagAlert {
	display: inline-block;
	padding: 5px;
	border: 1px solid #808003;

	background: #ffff66;
}

.LCHComposeDetailFormInputTypesField {
	max-width: 120px;
}

.LCHComposeDetailFormCallbackArgsField {
	max-width: 60px;
}

.LCHComposeDetailFormOutputTypeField {
	max-width: 140px;
}

/* CodeMirror */

.LCHComposeDetail :global(.CodeMirror) {
	margin: 10px 0;
	
	/* CodeMirrorResizeToContent */
	height: auto;
}

.LCHComposeDetail :global(.CodeMirror-empty) {
	/* CodeMirrorPlaceholderText */
	color: #999999;
}

.LCHComposeDetail :global(.CodeMirror-scroll) {
	/* CodeMirrorResizeToContent */
	max-height: 350px;
}

.LCHComposeDetail :global(.CodeMirror-scroll) {
	/* CodeMirrorResizeToContent */
	min-height: 100px;
}
