<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposePairDispatchSubmit</strong>
	<span id="TestLCHComposePairDispatchSubmit">0</span>
	<span id="TestLCHComposePairDispatchSubmitData">undefined</span>
</p>

<p>
	<strong>LCHComposePairDispatchClear</strong>
	<span id="TestLCHComposePairDispatchClear">0</span>
</p>
