<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposeMasterListItemDispatchCreate</strong>
	<span id="TestLCHComposeMasterListItemDispatchCreate">0</span>
	<span id="TestLCHComposeMasterListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterListItemDispatchClick</strong>
	<span id="TestLCHComposeMasterListItemDispatchClick">0</span>
	<span id="TestLCHComposeMasterListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterListItemDispatchArrow</strong>
	<span id="TestLCHComposeMasterListItemDispatchArrow">0</span>
	<span id="TestLCHComposeMasterListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>LCHComposeMasterListItemDispatchFilter</strong>
	<span id="TestLCHComposeMasterListItemDispatchFilter">0</span>
	<span id="TestLCHComposeMasterListItemDispatchFilterData">undefined</span>
</p>
