.Container {
	border-top: var(--LCHBorderStyle);
	/* AppContainerFlexboxChild */
	flex-shrink: 0;

	/* ContainerFlexboxParent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Container :global(.OLSKToolbar) {
	flex-grow: 1;
}

.Container :global(.OLSKToolbar > div) {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.Container :global(#RCSLanguageSwitcher) {
	padding: 10px;

	font-size: 13px;
}

:global(#RCSLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.LCHComposeFooterStorageButton {
	padding: 0 5px;
}

.LCHComposeFooterStorageButton :global(svg,img) {
	width: 20px;
	height: 20px;
}

.LCHComposeFooterStorageButton :global(path, polygon) {
	fill: black;
}

.LCHComposeFooterStorageButton.OSWIconVisible img {
	display: none;
}
