:root {
	--LCHBorderStyle: 1px solid #ddd;
}

.LCHSharedToolbar {
	border-bottom: var(--LCHBorderStyle);
}

#remotestorage-widget {
	bottom: 0;
	right: 0;
}

.LCHSharedElementTappable {
	cursor: pointer;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.LCHSharedButtonNoStyle {
	background: none;
	border: none;
	padding: 0;
}
