:root {
	--LCHCommonBackground: hsl(0, 0%, 98%);
	--LCHCommonForeground: hsl(0, 0%, 0%);
}

.OLSKCommon li code {
	margin: 2px 0;
}

.OLSKToolbarButton > *, .OLSKToolbarButton svg {
	width: inherit;
	height: inherit;
}
