<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>LCHComposeListItemDispatchCreate</strong>
	<span id="TestLCHComposeListItemDispatchCreate">0</span>
	<span id="TestLCHComposeListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>LCHComposeListItemDispatchClick</strong>
	<span id="TestLCHComposeListItemDispatchClick">0</span>
	<span id="TestLCHComposeListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>LCHComposeListItemDispatchArrow</strong>
	<span id="TestLCHComposeListItemDispatchArrow">0</span>
	<span id="TestLCHComposeListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>LCHComposeListItemDispatchFilter</strong>
	<span id="TestLCHComposeListItemDispatchFilter">0</span>
	<span id="TestLCHComposeListItemDispatchFilterData">undefined</span>
</p>
