.LCHComposeFooter {
	border-top: var(--LCHBorderStyle);
	
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;

	/* LCHComposeFooterFlexbox:Parent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.LCHComposeFooter a {
	color: var(--LCHCommonForeground);
}

.LCHComposeFooter .OLSKToolbar {
	flex-grow: 1;
}

.LCHComposeFooter .OLSKToolbar > div {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.LCHComposeFooter .OLSKToolbarElementGroup > *:not(:first-child) {
	margin-left: 10px;
}

:global(.OLSKLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.LCHComposeFooterStorageButton.OSWIconVisible .LCHComposeFooterStorageButtonImage {
	display: none;
}

.LCHComposeFooterStorageButton :global(.OSWOptionImage path) {
	fill: black;
}
