.Container {
	border-top: var(--LCHBorderStyle);
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;

	/* ContainerFlexbox:Parent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Container :global(.OLSKToolbar) {
	flex-grow: 1;
}

.Container :global(.OLSKToolbar > div) {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.Container :global(.OLSKToolbarElementGroup > *:not(:first-child)) {
	margin-left: 10px;
}

:global(.OLSKLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.LCHComposeFooterStorageButton {
	padding: 0 5px;
}

.LCHComposeFooterStorageButton :global(svg,img) {
	width: 20px;
	height: 20px;
}

.LCHComposeFooterStorageButton :global(path) {
	fill: black;
}

.LCHComposeFooterStorageButton.OSWIconVisible img {
	display: none;
}
