<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',
	
	'/_shared/__external/codemirror/addon/edit/continuelist.js',
	
	'/_shared/__external/codemirror/addon/mode/overlay.js',
	
	'/_shared/__external/codemirror/addon/search/search.js',
	'/_shared/__external/codemirror/addon/search/searchcursor.js',
	'/_shared/__external/codemirror/addon/search/jump-to-line.js',
	'/_shared/__external/codemirror/addon/dialog/dialog.css',
	'/_shared/__external/codemirror/addon/dialog/dialog.js',
	
	'/_shared/__external/codemirror/keymap/sublime.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<p>
	<strong>LCHComposeInputDispatchUpdate</strong>
	<span id="TestLCHComposeInputDispatchUpdate">0</span>
</p>

<p>
	<button id="TestLCHComposeInputFocus" onclick="window.LCHComposeInputBehaviour.InterfaceTestLCHComposeInputFocusButtonDidClick()">TestLCHComposeInputFocus</button>
</p>

<p>
	<textarea id="TestLCHComposeInputPropData">undefined</textarea>
	<button id="TestLCHComposeInputPropDataSend" onclick="window.LCHComposeInputBehaviour.InterfaceTestLCHComposeInputPropDataSendButtonDidClick()">TestLCHComposeInputPropDataSend</button>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>
