<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-style.css">
</head>
<body>
	<script src="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-behaviour.js"></script>
	<hr>
	<p>
		<strong>isSelected</strong>
		<button onclick="Main.$set({isSelected: true})" id="LCHLauncherZoneInputTestSelect">true</button>
		<button onclick="Main.$set({isSelected: false})" id="LCHLauncherZoneInputTestDeselect">false</button>
	</p>
</body>
</html>
