<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-style.css">
</head>
<body>
	<script src="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-behaviour.js"></script>
</body>
</html>
