<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-style.css">
</head>
<body>

<script src="/dev-launcher/modules/LCHLauncherZoneInput/_compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>NameText</strong>
	<input oninput="Main.$set({NameText: this.value})" id="LCHLauncherZoneInputTestSetNameText" />
</p>

<p>
	<strong>FilterText</strong>
	<input oninput="Main.$set({FilterText: this.value})" id="LCHLauncherZoneInputTestSetFilterText" />
</p>

<p>
	<strong>MatchStop</strong>
	<input type="checkbox" oninput="Main.$set({MatchStop: this.checked})" id="LCHLauncherZoneInputTestSetMatchStop" />
</p>

<p>
	<strong>didClick</strong>
	<script type="text/javascript">
		Main.$set({didClick: function () {
			window.LCHLauncherZoneInputTestClick.innerHTML = parseInt(window.LCHLauncherZoneInputTestClick.innerHTML) + 1;
		}})
	</script>
	<span id="LCHLauncherZoneInputTestClick">0</span>
</p>

</body>
</html>
