body {
	padding: 10px;
	max-width: 400px;

	margin: auto;

	font-family: 'Lucida Grande', sans-serif;
	font-size: 11pt;
	background: var(--LCHCommonBackground);
	color: var(--LCHCommonForeground);
}

h1, h2,  h3 {
	font-family: 'Helvetica Neue';
}

hr {
	height: 1px;
	border: none;

	background: black;
}

code {
	padding: 3px;
	display: inline-block;

	background: hsl(0, 0%, 94%);
	color: hsl(0, 0%, 20%);
}

ul {
	padding-left: 30px;
}

li {
	margin: 10px 0;

	/*list-style: square;*/
}

button {
	padding: 8px;
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 5px;
	display: inline-block;

	background: hsl(0, 0%, 90%);
}

.LCHVitrineLogo {
	width: 34px;
	height: 34px;
	padding-right: 4px;
}

.LCHVitrineBrueghel {
	max-width: inherit;
	margin: 10px 0;
}

.ROCORootLink {
	width: 70px;
	display: block;

	margin: 30px auto;
	
	background: #eaeaea;
}

.ROCORootLink img {
	width: inherit;
}
