<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestLCHComposeBuildDispatchRun</strong>
	<span id="TestLCHComposeBuildDispatchRun">0</span>
</p>

<p>
	<strong>TestLCHComposeBuildDispatchPipeModeEnabled</strong>
	<span id="TestLCHComposeBuildDispatchPipeModeEnabled">0</span>
	<span id="TestLCHComposeBuildDispatchPipeModeEnabledData">undefined</span>
</p>

<p>
	<strong>TestLCHComposeBuildDispatchPageRecipesEnabled</strong>
	<span id="TestLCHComposeBuildDispatchPageRecipesEnabled">0</span>
	<span id="TestLCHComposeBuildDispatchPageRecipesEnabledData">undefined</span>
</p>

</body>
</html>
