<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>ResultsHidden</strong>
	<input type="checkbox" oninput="LCHLauncherPrompt.$set({ResultsHidden: this.checked})" id="LCHLauncherPromptTestSetResultsHidden" />
</p>

<p>
	<strong>PromptItems</strong>
	<button onclick="LCHLauncherPrompt.$set({StubItems: []})" id="LCHLauncherPromptTestSetPromptItemsZero">Zero</button>
	<button onclick="LCHLauncherPrompt.$set({StubItems: [{
		LCHRecipeName: 'alfa',
	}]})" id="LCHLauncherPromptTestSetPromptItemsSingle">Single</button>
	<button onclick="LCHLauncherPrompt.$set({StubItems: [{
		LCHRecipeName: 'alfa',
	},{
		LCHRecipeName: 'bravo',
	},{
		LCHRecipeName: 'charlie',
	}]})" id="LCHLauncherPromptTestSetPromptItemsMultiple">Multiple</button>
</p>

</body>
</html>
