<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-style.css">
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>HeaderText</strong>
	<input oninput="Main.$set({HeaderText: this.value})" id="LCHLauncherPromptTestSetHeaderText" />
</p>

<p>
	<strong>FilterText</strong>
	<input oninput="Main.$set({FilterText: this.value})" id="LCHLauncherPromptTestSetFilterText" />
</p>

<p>
	<strong>MatchStop</strong>
	<input type="checkbox" oninput="Main.$set({MatchStop: this.checked})" id="LCHLauncherPromptTestSetMatchStop" />
</p>

<p>
	<strong>ResultsHidden</strong>
	<input type="checkbox" oninput="Main.$set({ResultsHidden: this.checked})" id="LCHLauncherPromptTestSetResultsHidden" />
</p>

<p>
	<strong>PromptItems</strong>
	<button onclick="Main.$set({StubItems: []})" id="LCHLauncherPromptTestSetPromptItemsZero">Zero</button>
	<button onclick="Main.$set({StubItems: [{
		LCHRecipeTitle: 'alfa',
	}]})" id="LCHLauncherPromptTestSetPromptItemsSingle">Single</button>
	<button onclick="Main.$set({StubItems: [{
		LCHRecipeTitle: 'bravo',
	},{
		LCHRecipeTitle: 'alfa',
	},{
		LCHRecipeTitle: 'charlie',
	}]})" id="LCHLauncherPromptTestSetPromptItemsMultiple">Multiple</button>
</p>

</body>
</html>
