<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-style.css">
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>TestItems</strong>
	<button onclick="Main.$set({TestItems: []})" id="LCHLauncherResultListTestSetTestItemsZero">Zero</button>
	<button onclick="Main.$set({TestItems: ['alfa']})" id="LCHLauncherResultListTestSetTestItemsSingle">Single</button>
	<button onclick="Main.$set({TestItems: ['alfa','bravo','charlie']})" id="LCHLauncherResultListTestSetTestItemsMultiple">Multiple</button>
</p>

</body>
</html>
