<%
locals.OLSKPageAssets = [
	'__compiled/ui-behaviour.js',
	'__compiled/ui-style.css',
	'stub-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<p>
	<strong>Output</strong><br />
	<textarea id="TestRecipeOutput"></textarea>
</p>

<hr>

<p>
	<button id="TestLauncherInvoke" onclick="LCHLauncherBehaviour.InterfaceButtonDidClick()">TestLauncherInvoke</button>
</p>

<div id="LCHLauncherTarget"></div>

<script type="text/javascript">
LCHLauncherBehaviour.LifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
