<%
locals.OLSKPageAssets = [
	'__compiled/ui-behaviour.js',
	'__compiled/ui-style.css',
	'ui-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<p>
	<strong>Output</strong><br />
	<textarea id="TestRecipeOutput"></textarea>
</p>

<hr>

<p>
	<button id="TestLaunchxrInvoke" onclick="LCHLaunchxrBehaviour.InterfaceButtonDidClick()">TestLaunchxrInvoke</button>
</p>

<div id="LCHLaunchxrTarget"></div>

<script type="text/javascript">
LCHLaunchxrBehaviour.LifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
