<div class="LCHRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalizedFor('LCHVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/LCHRootLink/ui-assets/identity.svg',
}) %>

</div>
