<a class="LCHRootLink" href="<%= OLSKCanonicalLocalizedFor('LCHVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('LCHSharedColonSeparatedFormat'), OLSKLocalized('LCHRootLinkLogoLabel'), OLSKLocalized('LCHRootLinkText')) %>"><img role="img" src="/_shared/LCHRootLink/ui-assets/identity.svg"></a>
