<div class="LCHRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('LCHVitrineRoute'),
	OLSKRootLinkImageURL: process.env.OLSK_LAYOUT_TOUCH_ICON_URL,
}) %>

</div>
