<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<script type="text/javascript">
Main.$set({
	PipeItemTitle: 'StubPipeItemTitle',
	PipeItemSubtitle: 'StubPipeItemSubtitle',
	PipeItemSource: 'StubPipeItemSource',
});
</script>

</body>
</html>
