<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/dev-launcher/modules/LCHLauncherPipeItem/_compiled/ui-style.css">
</head>
<body>

<script src="/dev-launcher/modules/LCHLauncherPipeItem/_compiled/ui-behaviour.js"></script>

<script type="text/javascript">
Main.$set({
	itemTitle: 'alfa',
});
</script>

</body>
</html>
