:root {
	--OLSKCommonBackground: var(--LCHCommonBackground);
	--OLSKCommonForeground: var(--LCHCommonForeground);
	--OLSKCommonFontSize: 11pt;
}

body {
	background: var(--LCHCommonBackground);
	color: var(--LCHCommonForeground);
}

.LCHGuide {
	overflow: hidden;
}

.LCHGuideNotice {
	padding: 10px;
	border: 1px solid var(--LCHCommonForeground)
}

.LCHGuideExample {
	display: block;
	padding: 20px 0 10px 15px;

	background: hsl(0, 0%, 94%);
	color: hsl(0, 0%, 20%);
}

.LCHGuideExample dt {
	font-weight: bold;
}

.LCHGuideExample dd {
	margin: 10px 20px;
}

.LCHGuideExample code {
	padding: 0;
}

.OLSKRootLink {
	width: 48px;
}
