:root {
	--OLSKCommonFontSize: 11pt;
}

.LCHGuide {
	overflow: hidden;
}

.LCHGuideExample {
	display: block;
	padding: 20px 0 10px 15px;

	background: hsl(0, 0%, 94%);
	color: hsl(0, 0%, 20%);
}

.LCHGuideExample dt {
	font-weight: bold;
}

.LCHGuideExample dd {
	margin: 10px 20px;
}

.LCHGuideExample code {
	padding: 0;
}

.OLSKRootLink {
	width: 48px;
}
